

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 100%;
}

img {
	max-width: 100%;
	max-height: 100%;
}

div {
	display: block;
}

html, body {
	width: 100%;
	height: 100%;
	min-width: 1000px;
	min-height: 100%;
	position: relative;
	margin: 0px;
	padding: 0;
	border: 0;
}
.social-button-wrapper {
	position: absolute;
	margin: auto;

}

.intro-wrapper {
	margin-left: auto;
	margin-right: auto;
	vertical-align: center;
	width: 87vw;
	height: 100%;
  position: absolute;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#short-bio {
    padding-top: 50px;
    width: 40px
    font-size: 3.4vw;
    line-height: 4.5vw;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', Helvetica, Times, serif;
    display: inline-block;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

.container {

    margin-left:auto;
    margin-right:auto;
    width:960px;

}

.section {
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
}

h1 {				/*affects all main headers*/
	font-size: 250px;
	margin: 0px;
   	color: #181818;
	text-shadow: 6px 6px 0px rgba(0,0,0,0.2);

}

.intro-left{
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
/*    margin-left: 30px;
    margin-top: 5px;*/

    margin: 0 auto;
    float: left;

}

.intro-right {
	position: relative;
	display: inline-block;
	width: 600px;
	top:0;
	left:0;
	margin: 0 auto;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}

#interests p  {			/*only makes PARAGRAPH text within the INTERESTS ID bold*/
	font-weight: bold;
}

footer {
	text-align: center;
	position: absolute;
	bottom: 0;
	margin: auto;
}

.column {
	text-align: left;
	margin-top: 20px; /*can't center text within our div, because container div is split into several divs. margin: 0 auto;
					automatically sets margin to the sides to push the div to the center*/

	background-color:rgba(0,255,0,0.2)

}
/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

